@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html , body , #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}